@import "@/common/style/components.css";
.component-main{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.component-container{
    width: 90%;
}

.component-header{
    display: flex;
}

.component-content {

}
