.item-main {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 30px 20px 30px;
}


.move {
    user-select: none;
    cursor: pointer;
    color: dodgerblue;
    font-weight: 500;
    font-size: 14px;
}

.item-container {
    width: 100%;
    /*border: 1px solid red;*/
}


.line {
    border: 1px solid red;
}

.operation-frame {
    margin-left: auto;
    display: flex;
    /*background-color: gainsboro;*/
    height: 100%;
    font-size: 16px;
}

/* TODO 为什么是 > 而不是 >>> */
.operation-frame > * {
    margin-left: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.submit-title {
    font-size: 32px;
}

.submit-title > * {
    font-size: 32px;
    border: 0px;
    outline: none;
    padding-left: 0;
    border-radius: 0;
    background-color: transparent;
}

.submit-description-title {
    margin-top: 8px;
    margin-bottom: 8px;
    color: gray;
}

.submit-description-content {
    font-size: 16px;
    font-weight: 500;
    font-family: "sans-serif";
}

.create-title {
    height: 60px;
}

.create-title > .el-input {
    border: 0;
    outline: 0;
    height: 100%;
}

.create-title > .el-input__inner {
    border: 0;
    /*border: 1px solid red;*/
    padding-left: 0;
    outline: 0;
    font-size: 1.5em;
    height: 100%;
}

.create-title > input[type='text'] {
    height: 100%;
}

.create-select {
    margin-left: auto;
    border: 0;
    max-width: 130px
}

.create-select >>> .el-input {
    /*border: 1px solid red;*/
}


* {
    font-family: "sans-serif";
}

.description {
    word-break: break-all;
}

.description >>> * {
    padding-left: 0;

}

.description >>> .el-textarea__inner {
    background-color: transparent;
    border: 0;
    padding: 2px;
}

@media screen and (max-width: 992px) {
    .item-main {
        width: 100%;
        padding: 12px;
    }

    .item-container {
        width: 100%;
    }
}
