.user-header {
    display: flex;
    min-width: 160px;
    height: 100vh;
    flex-direction: column;
    position: sticky;
    background-color: white;;
    top: 0;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, .2);
    z-index: 999;
}

.user-header > * {
    padding: 0 10px;
    height: 40px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.user-header > *:hover {
    color: #409EFF;
}

@media screen and (max-width: 600px) {
    .user-header {
        height: 50px;
        width: 100%;
        overflow: scroll;
        display: flex;
        flex-direction: row;
        align-items: center;
        box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, .2);
    }
    .user-header>*{
        white-space: nowrap;
    }
}