@import "@/common/style/user-header.css";

.user {
    display: flex;
}

.user > * {

}

.user_view {
    flex:1;
    /*border: 1px solid red;*/
}


@media screen and (max-width: 600px) {
    .user {
        display: flex;
        flex-direction: column;
    }
}