@font-face {
    font-family: 'deyihei';
    src: url("/src/font/SmileySans-Oblique.ttf");
}

@font-face {
    font-family: 'siyuan';
    src: url("/src/font/SourceHanSansCN-Medium.ttf");
}

@font-face {
    font-family: 'huawen';
    src: url("/src/font/STXINGKA.TTF");
}