

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'siyuan','Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}
body{
  padding: 0;
  margin: 0;
}

.line {
  border: 1px solid red;
}

.red {
  color: red;
}

.green {
  color: #13ce66;
}

.deep > *{
  border: 1px solid #13ce66;
}