.group{
    padding: 8px;
}
.group-card-container {
    display: grid;
    grid-gap: 10px;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, 100px);
}

.group-create{
    margin-top: 8px;
    margin-bottom: 4px;
}
.group-row-title{
    margin-top: 8px;
    font-size: 26px;
    color: gray;
}
.groups {
    margin-bottom: 8px;
    font-size: 24px;
}

@media screen and  (max-width: 600px){
    .group{
        padding: 0 8px 0 8px;
    }
}