.mail-row {
    display: flex;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 0 8px;
    color: gray;
    user-select: none;
}

.mail-row :last-child {
    margin-left: auto;
}

.mail-row:hover :first-child{
    color: #409EFF;
    cursor: pointer;
}