.template-details {
    width: 50%;
    margin: 0 auto;
    /*border: 1px solid red;*/
}

.main-container {
    /*display: flex;*/
    padding: 8px;
    justify-content: space-between;
}

.main-container > * {
    /*border: 1px solid red;*/
    border-radius: 8px;
    padding: 8px;
    margin-top: 8px;
    background-color: #409EFF;
    color: white;
}

.commit-detail {
    /*display: flex;*/
    /*justify-content: space-between;*/
}

.commit-detail > div {
    padding: 8px;
    margin: 0;
    padding: 0;
    /*border: 1px solid red;*/
}

h3, h1, h5 {
    margin: 8px;
}


@media screen and (max-width: 600px) {
    .template-details {
        width: 100%;
        /*border: 1px solid forestgreen;*/
        padding: 8px;
        box-sizing: border-box;
    }

}