
.jh-file .description {
    margin-bottom: 8px;
    /*border: 1px solid darkcyan;*/
}

.el-upload {
    width: 100%;
}

.name-rule {
    flex: 1;
}
.el-upload-dragger {
    width: 100%;
}

.name-rule .el-input__inner {
    width: 100%;
}
